/* classes */
.logo{
  height:3rem;
  padding-left: 50px;
}
.nav-link{
  color: white;
}
.nav-item{
  padding-right: 20px;
}
.navbar-toggler-icon{
  color: white;
}
/* tags */
nav{
  background-color: black;
}
body{
  background-color: #171111;
}
